In [ ]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=aab9d40d0a9dd8fbe7569395f1c8ab157368dcb4f8a5f14cd0ffae2a73fe8246
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
import pyspark

In [ ]:
import pandas as pd
path ="/iris_dataset.csv"
df = pd.read_csv(path)
df.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [ ]:
#Start a park session
from pyspark.sql import  SparkSession

In [ ]:
spark = SparkSession.builder.appName('LetsGO').getOrCreate()

In [ ]:
spark

In [ ]:
#Read data in Pyspark
df_pyspark = spark.read.csv(path)

In [ ]:
df_pyspark.show()

+-----------------+----------------+-----------------+----------------+-----------+
|              _c0|             _c1|              _c2|             _c3|        _c4|
+-----------------+----------------+-----------------+----------------+-----------+
|sepal length (cm)|sepal width (cm)|petal length (cm)|petal width (cm)|     target|
|              5.1|             3.5|              1.4|             0.2|Iris-setosa|
|              4.9|             3.0|              1.4|             0.2|Iris-setosa|
|              4.7|             3.2|              1.3|             0.2|Iris-setosa|
|              4.6|             3.1|              1.5|             0.2|Iris-setosa|
|              5.0|             3.6|              1.4|             0.2|Iris-setosa|
|              5.4|             3.9|              1.7|             0.4|Iris-setosa|
|              4.6|             3.4|              1.4|             0.3|Iris-setosa|
|              5.0|             3.4|              1.5|             0.2|Iris-setosa|
|              4.4|             2.9|              1.4|             0.2|Iris-setosa|
|              4.9|             3.1|              1.5|             0.1|Iris-setosa|
|              5.4|             3.7|              1.5|             0.2|Iris-setosa|
|              4.8|             3.4|              1.6|             0.2|Iris-setosa|
|              4.8|             3.0|              1.4|             0.1|Iris-setosa|
|              4.3|             3.0|              1.1|             0.1|Iris-setosa|
|              5.8|             4.0|              1.2|             0.2|Iris-setosa|
|              5.7|             4.4|              1.5|             0.4|Iris-setosa|
|              5.4|             3.9|              1.3|             0.4|Iris-setosa|
|              5.1|             3.5|              1.4|             0.3|Iris-setosa|
|              5.7|             3.8|              1.7|             0.3|Iris-setosa|
+-----------------+----------------+-----------------+----------------+-----------+
only showing top 20 rows

In [ ]:
#Make first row as header
df3_pyspark = spark.read.option('header', 'true').csv(path).show()
df3_pyspark

+-----------------+----------------+-----------------+----------------+-----------+
|sepal length (cm)|sepal width (cm)|petal length (cm)|petal width (cm)|     target|
+-----------------+----------------+-----------------+----------------+-----------+
|              5.1|             3.5|              1.4|             0.2|Iris-setosa|
|              4.9|             3.0|              1.4|             0.2|Iris-setosa|
|              4.7|             3.2|              1.3|             0.2|Iris-setosa|
|              4.6|             3.1|              1.5|             0.2|Iris-setosa|
|              5.0|             3.6|              1.4|             0.2|Iris-setosa|
|              5.4|             3.9|              1.7|             0.4|Iris-setosa|
|              4.6|             3.4|              1.4|             0.3|Iris-setosa|
|              5.0|             3.4|              1.5|             0.2|Iris-setosa|
|              4.4|             2.9|              1.4|             0.2|Iris-setosa|
|              4.9|             3.1|              1.5|             0.1|Iris-setosa|
|              5.4|             3.7|              1.5|             0.2|Iris-setosa|
|              4.8|             3.4|              1.6|             0.2|Iris-setosa|
|              4.8|             3.0|              1.4|             0.1|Iris-setosa|
|              4.3|             3.0|              1.1|             0.1|Iris-setosa|
|              5.8|             4.0|              1.2|             0.2|Iris-setosa|
|              5.7|             4.4|              1.5|             0.4|Iris-setosa|
|              5.4|             3.9|              1.3|             0.4|Iris-setosa|
|              5.1|             3.5|              1.4|             0.3|Iris-setosa|
|              5.7|             3.8|              1.7|             0.3|Iris-setosa|
|              5.1|             3.8|              1.5|             0.3|Iris-setosa|
+-----------------+----------------+-----------------+----------------+-----------+
only showing top 20 rows

In [ ]:
#see datatype of each column
df2 = spark.read.option('header', 'true').csv(path)
df2.printSchema()

root
 |-- sepal length (cm): string (nullable = true)
 |-- sepal width (cm): string (nullable = true)
 |-- petal length (cm): string (nullable = true)
 |-- petal width (cm): string (nullable = true)
 |-- target: string (nullable = true)

In [ ]:
path2 ="/TestData.csv"
df2 = pd.read_csv(path2)
df2.head(5)

     Name  Age  Experience
0     Ade   34           2
1     Ada   35           4
2     Jon   20           5
3     Ife   21           2
4  Tamuno   26           3

In [ ]:
#Read dataset from pyspark
df22py = spark.read.option('header', 'true').csv(path2).show()
df22py

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|   Ade| 34|         2|
|   Ada| 35|         4|
|   Jon| 20|         5|
|   Ife| 21|         2|
|Tamuno| 26|         3|
|  Agbo| 22|         1|
| Ajoke| 21|         3|
|  Temi| 20|         1|
+------+---+----------+

In [ ]:
## Check Schema
df23py = spark.read.option('header', 'true').csv(path2)
df23py.printSchema()
#print all column as string because pyspark default as string but can be inherit source data type too

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [ ]:
## inherit data source data type
df23py = spark.read.option('header', 'true').csv(path2, inferSchema=True)
df23py.printSchema()
#print column with data source data type

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
## Import Data directly with the source data type
dfpy = spark.read.csv('/TestData.csv', header=True, inferSchema=True)
dfpy.show()
#print column with data source data type

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|   Ade| 34|         2|
|   Ada| 35|         4|
|   Jon| 20|         5|
|   Ife| 21|         2|
|Tamuno| 26|         3|
|  Agbo| 22|         1|
| Ajoke| 21|         3|
|  Temi| 20|         1|
+------+---+----------+

In [ ]:
#check Schema
dfpy.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
#Check Dataframe
#Dataframes are Datastructures
type(dfpy)

pyspark.sql.dataframe.DataFrame

In [ ]:
#Get Column names
dfpy.columns

['Name', 'Age', 'Experience']

In [ ]:
#Get top 3 rows
dfpy.head(3)

[Row(Name='Ade', Age=34, Experience=2),
 Row(Name='Ada', Age=35, Experience=4),
 Row(Name='Jon', Age=20, Experience=5)]

In [ ]:
#Return only Name column
dfpy.select('Name')

DataFrame[Name: string]

In [ ]:
#Show data in Name column
dfpy.select('Name').show()

+------+
|  Name|
+------+
|   Ade|
|   Ada|
|   Jon|
|   Ife|
|Tamuno|
|  Agbo|
| Ajoke|
|  Temi|
+------+

In [ ]:
#Show data in 2 columns
dfpy.select('Name','Experience').show()

+------+----------+
|  Name|Experience|
+------+----------+
|   Ade|         2|
|   Ada|         4|
|   Jon|         5|
|   Ife|         2|
|Tamuno|         3|
|  Agbo|         1|
| Ajoke|         3|
|  Temi|         1|
+------+----------+

In [ ]:
#check datatype of each column
dfpy.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [ ]:
#Describe as just as pandas
dfpy.describe().show()

+-------+----+-----------------+-----------------+
|summary|Name|              Age|       Experience|
+-------+----+-----------------+-----------------+
|  count|   8|                8|                8|
|   mean|NULL|           24.875|            2.625|
| stddev|NULL|6.243568119044018|1.407885953173359|
|    min| Ada|               20|                1|
|    max|Temi|               35|                5|
+-------+----+-----------------+-----------------+

In [ ]:
#Adding Columns in Pyspark Dataframe
dfpy.withColumn('Experience after a decade', dfpy['Experience']+10).show()

+------+---+----------+-------------------------+
|  Name|Age|Experience|Experience after a decade|
+------+---+----------+-------------------------+
|   Ade| 34|         2|                       12|
|   Ada| 35|         4|                       14|
|   Jon| 20|         5|                       15|
|   Ife| 21|         2|                       12|
|Tamuno| 26|         3|                       13|
|  Agbo| 22|         1|                       11|
| Ajoke| 21|         3|                       13|
|  Temi| 20|         1|                       11|
+------+---+----------+-------------------------+

In [ ]:
#Drop Columns
dfpy.drop('Experience after a decade').show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|   Ade| 34|         2|
|   Ada| 35|         4|
|   Jon| 20|         5|
|   Ife| 21|         2|
|Tamuno| 26|         3|
|  Agbo| 22|         1|
| Ajoke| 21|         3|
|  Temi| 20|         1|
+------+---+----------+

In [ ]:
#Renaming a Columns
dfpy.withColumnRenamed('Age', 'New_Age').show()

+------+-------+----------+
|  Name|New_Age|Experience|
+------+-------+----------+
|   Ade|     34|         2|
|   Ada|     35|         4|
|   Jon|     20|         5|
|   Ife|     21|         2|
|Tamuno|     26|         3|
|  Agbo|     22|         1|
| Ajoke|     21|         3|
|  Temi|     20|         1|
+------+-------+----------+

In [ ]:
#Starting a new session

In [2]:
!pip install pyspark py4j
import pyspark
path ="/iris_dataset.csv"
from pyspark.sql import  SparkSession
spark = SparkSession.builder.appName('LetsGO2').getOrCreate()

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=2fc6d3c3f51b27f89385430cf60cd8cd298f8743e33995dd81e620ed0313a052
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [3]:
data = '/content/testdata2.csv'
pydf = spark.read.csv(data, header=True, inferSchema=True)
pydf.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|   Ade|  34|         2| 20000|
|   Ada|  35|         4| 35000|
|   Jon|  20|         5| 40000|
|   Ife|  21|         2| 20000|
|Tamuno|  26|         3| 35000|
|  Agbo|  22|         1| 40000|
| Ajoke|  21|         3| 70000|
|  Temi|NULL|      NULL| 45000|
|  NULL|  30|         5| 40000|
|  NULL|  44|      NULL|  NULL|
|  NULL|NULL|         5|  NULL|
+------+----+----------+------+

In [5]:
#Dropping any rows with null values
pydf.na.drop().show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Ade| 34|         2| 20000|
|   Ada| 35|         4| 35000|
|   Jon| 20|         5| 40000|
|   Ife| 21|         2| 20000|
|Tamuno| 26|         3| 35000|
|  Agbo| 22|         1| 40000|
| Ajoke| 21|         3| 70000|
+------+---+----------+------+

In [7]:
#Drop any row with null just like the code above
pydf.na.drop(how='any').show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Ade| 34|         2| 20000|
|   Ada| 35|         4| 35000|
|   Jon| 20|         5| 40000|
|   Ife| 21|         2| 20000|
|Tamuno| 26|         3| 35000|
|  Agbo| 22|         1| 40000|
| Ajoke| 21|         3| 70000|
+------+---+----------+------+

In [8]:
#Don't delete records with at least 2 non-null values
pydf.na.drop(how='any', thresh=2).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|   Ade|  34|         2| 20000|
|   Ada|  35|         4| 35000|
|   Jon|  20|         5| 40000|
|   Ife|  21|         2| 20000|
|Tamuno|  26|         3| 35000|
|  Agbo|  22|         1| 40000|
| Ajoke|  21|         3| 70000|
|  Temi|NULL|      NULL| 45000|
|  NULL|  30|         5| 40000|
+------+----+----------+------+

In [9]:
#Subset: delete records from a specific column
pydf.na.drop(how='any', subset=['Experience']).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|   Ade|  34|         2| 20000|
|   Ada|  35|         4| 35000|
|   Jon|  20|         5| 40000|
|   Ife|  21|         2| 20000|
|Tamuno|  26|         3| 35000|
|  Agbo|  22|         1| 40000|
| Ajoke|  21|         3| 70000|
|  NULL|  30|         5| 40000|
|  NULL|NULL|         5|  NULL|
+------+----+----------+------+

In [10]:
#Fill missing values with the word 'Missing values'
pydf.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|           Ade|  34|         2| 20000|
|           Ada|  35|         4| 35000|
|           Jon|  20|         5| 40000|
|           Ife|  21|         2| 20000|
|        Tamuno|  26|         3| 35000|
|          Agbo|  22|         1| 40000|
|         Ajoke|  21|         3| 70000|
|          Temi|NULL|      NULL| 45000|
|Missing Values|  30|         5| 40000|
|Missing Values|  44|      NULL|  NULL|
|Missing Values|NULL|         5|  NULL|
+--------------+----+----------+------+

In [15]:
#Fill missing values with the word 'Missing values' in 2 columns (NW)
pydf.na.fill('Missing Values',['Experience','age']).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|   Ade|  34|         2| 20000|
|   Ada|  35|         4| 35000|
|   Jon|  20|         5| 40000|
|   Ife|  21|         2| 20000|
|Tamuno|  26|         3| 35000|
|  Agbo|  22|         1| 40000|
| Ajoke|  21|         3| 70000|
|  Temi|NULL|      NULL| 45000|
|  NULL|  30|         5| 40000|
|  NULL|  44|      NULL|  NULL|
|  NULL|NULL|         5|  NULL|
+------+----+----------+------+

In [17]:
pydf.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [18]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [19]:
# Add imputation cols to df to fill null with means
imputer.fit(pydf).transform(pydf).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
|   Ade|  34|         2| 20000|         34|                 2|         20000|
|   Ada|  35|         4| 35000|         35|                 4|         35000|
|   Jon|  20|         5| 40000|         20|                 5|         40000|
|   Ife|  21|         2| 20000|         21|                 2|         20000|
|Tamuno|  26|         3| 35000|         26|                 3|         35000|
|  Agbo|  22|         1| 40000|         22|                 1|         40000|
| Ajoke|  21|         3| 70000|         21|                 3|         70000|
|  Temi|NULL|      NULL| 45000|         26|                 3|         45000|
|  NULL|  30|         5| 40000|         30|                 5|         40000|
|  NULL|  44|      NULL|  NULL|         44|                 3|         40000|
|  NULL|NULL|         5|  NULL|         26|                 5|         40000|
+------+----+----------+------+-----------+------------------+--------------+

In [ ]:
#Pyspark Dataframe
#Filter Operation
#&,|, ==
#`

In [21]:
data3 = '/content/testdata3.csv'
pydf2 = spark.read.csv(data3, header=True, inferSchema=True)
pydf2.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Ade| 34|         2| 20000|
|   Ada| 35|         4| 35000|
|   Jon| 20|         5| 40000|
|   Ife| 21|         2| 20000|
|Tamuno| 26|         3| 35000|
|  Agbo| 22|         1| 40000|
| Ajoke| 21|         3| 70000|
+------+---+----------+------+

In [22]:
#Salary <=30000
pydf2.filter('Salary<=35000').show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Ade| 34|         2| 20000|
|   Ada| 35|         4| 35000|
|   Ife| 21|         2| 20000|
|Tamuno| 26|         3| 35000|
+------+---+----------+------+

In [24]:
#Salary <=30000 same as above with different method
pydf2.filter(pydf2['Salary']<=35000).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Ade| 34|         2| 20000|
|   Ada| 35|         4| 35000|
|   Ife| 21|         2| 20000|
|Tamuno| 26|         3| 35000|
+------+---+----------+------+

In [23]:
#Salary <=30000 showing only Name and Age
pydf2.filter('Salary<=35000').select(['Name', 'Age']).show()

+------+---+
|  Name|Age|
+------+---+
|   Ade| 34|
|   Ada| 35|
|   Ife| 21|
|Tamuno| 26|
+------+---+

In [25]:
#Salary <=40000 ABD >30000
pydf2.filter((pydf2['Salary']>30000) & (pydf2['Salary']<=40000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Ada| 35|         4| 35000|
|   Jon| 20|         5| 40000|
|Tamuno| 26|         3| 35000|
|  Agbo| 22|         1| 40000|
+------+---+----------+------+

In [27]:
#Salary <=40000 ABD >30000 same as above with SELECT specific column
pydf2.filter((pydf2['Salary']>30000) & (pydf2['Salary']<=40000)).select(['Name', 'Age']).show()

+------+---+
|  Name|Age|
+------+---+
|   Ada| 35|
|   Jon| 20|
|Tamuno| 26|
|  Agbo| 22|
+------+---+

In [33]:
#NOT <=30000 using (Inverse operation) '~'
pydf2.filter(~(pydf2['Salary']<=35000)).select(['Name', 'Age', "Salary"]).show()

+-----+---+------+
| Name|Age|Salary|
+-----+---+------+
|  Jon| 20| 40000|
| Agbo| 22| 40000|
|Ajoke| 21| 70000|
+-----+---+------+

In [34]:
data4 = '/content/testdata4.csv'
pydf4 = spark.read.csv(data4, header=True, inferSchema=True)
pydf4.show()

+------+----------+------+
|  Name|Department|Salary|
+------+----------+------+
|   Ade|     Sales| 20000|
|   Ade|       CTO| 35000|
|   Jon|       Ops| 40000|
|   Jon|     Sales| 20000|
|   Jon|       CTO| 35000|
|  Agbo|       Ops| 40000|
|  Agbo|   Finance| 70000|
|Tamuno|   Finance| 10000|
|  Agbo|     Sales| 35000|
|Tamuno|       CTO| 40000|
|   Ade|       Ops| 10000|
+------+----------+------+

In [35]:
# Group by sum of Salary of each name
pydf4.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
|  Agbo|     145000|
|   Ade|      65000|
|Tamuno|      50000|
|   Jon|      95000|
+------+-----------+

In [37]:
# Group by mean of Salary of Department
pydf4.groupBy('Department').mean().show()

+----------+------------------+
|Department|       avg(Salary)|
+----------+------------------+
|     Sales|           25000.0|
|       CTO|36666.666666666664|
|   Finance|           40000.0|
|       Ops|           30000.0|
+----------+------------------+

In [38]:
# Count number of workers in Department
pydf4.groupBy('Department').count().show()

+----------+-----+
|Department|count|
+----------+-----+
|     Sales|    3|
|       CTO|    3|
|   Finance|    2|
|       Ops|    3|
+----------+-----+

In [42]:
# Total sum of all Salary
pydf4.agg({'Salary': 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     355000|
+-----------+

In [44]:
# Maximum Salary from each Department
pydf4.groupBy('Department').max().show()

+----------+-----------+
|Department|max(Salary)|
+----------+-----------+
|     Sales|      35000|
|       CTO|      40000|
|   Finance|      70000|
|       Ops|      40000|
+----------+-----------+

In [45]:
# Minimum Salary from each Name
pydf4.groupBy('Name').min().show()

+------+-----------+
|  Name|min(Salary)|
+------+-----------+
|  Agbo|      35000|
|   Ade|      10000|
|Tamuno|      10000|
|   Jon|      20000|
+------+-----------+

In [46]:
# Average Salary from each Name
pydf4.groupBy('Name').avg().show()

+------+------------------+
|  Name|       avg(Salary)|
+------+------------------+
|  Agbo|48333.333333333336|
|   Ade|21666.666666666668|
|Tamuno|           25000.0|
|   Jon|31666.666666666668|
+------+------------------+