In [0]:
ddata = [('Tope', 'Smith', 'M', 20),
        ('Seun', 'Ada', 'F', 25),
        ('Jan', 'Temi', 'M', 30),
        ('Abbey', 'Richard', 'F', 45),
        ]
columns = ('first_name', 'last_name', 'gender', 'age')
df = spark.createDataFrame(data = ddata, schema=columns)

In [0]:
display(df)
#another method df(show)

first_name,last_name,gender,age
Tope,Smith,M,20
Seun,Ada,F,25
Jan,Temi,M,30
Abbey,Richard,F,45

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-1580649138664131>:2
      1 display(df)
----> 2 -- df(show)

NameError: name 'show' is not defined

In [0]:
df2 = spark.read.format('csv').load("dbfs:/FileStore/tables/EmployeeMumbia.csv")

In [0]:
df2.show()

+--------+-------+------+
|     _c0|    _c1|   _c2|
+--------+-------+------+
|UniqueID|   Name|Salary|
|    M001| Ramesh| 20000|
|    M002|  Riyaz| 35000|
|    M003|  Karan| 40000|
|    M004|  Froos| 20000|
|    M005| Qiraat| 35000|
|    M006|  Navid| 40000|
|    M007|Egnadgy| 70000|
+--------+-------+------+

In [0]:
df2 = spark.read.format('csv').option('header','true').load("dbfs:/FileStore/tables/EmployeeMumbia.csv")

In [0]:
display(df2)

UniqueID,Name,Salary
M001,Ramesh,20000
M002,Riyaz,35000
M003,Karan,40000
M004,Froos,20000
M005,Qiraat,35000
M006,Navid,40000
M007,Egnadgy,70000

In [0]:
df2 = spark.read.format('csv').option('header','true').option('inferSchema', 'true').load("dbfs:/FileStore/tables/EmployeeMumbia.csv")

display(df2)

UniqueID,Name,Salary
M001,Ramesh,20000
M002,Riyaz,35000
M003,Karan,40000
M004,Froos,20000
M005,Qiraat,35000
M006,Navid,40000
M007,Egnadgy,70000

In [0]:
df2.printSchema()

root
 |-- UniqueID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [0]:
df2.write.format('csv').save("dbfs:/FileStore/tables/resaveMumbia")

In [0]:
df2.show()

+--------+-------+------+
|UniqueID|   Name|Salary|
+--------+-------+------+
|    M001| Ramesh| 20000|
|    M002|  Riyaz| 35000|
|    M003|  Karan| 40000|
|    M004|  Froos| 20000|
|    M005| Qiraat| 35000|
|    M006|  Navid| 40000|
|    M007|Egnadgy| 70000|
+--------+-------+------+

In [0]:
display(df2)

UniqueID,Name,Salary
M001,Ramesh,20000
M002,Riyaz,35000
M003,Karan,40000
M004,Froos,20000
M005,Qiraat,35000
M006,Navid,40000
M007,Egnadgy,70000

In [0]:
df2.collect()

Out[19]: [Row(UniqueID='M001', Name='Ramesh', Salary=20000),
 Row(UniqueID='M002', Name='Riyaz', Salary=35000),
 Row(UniqueID='M003', Name='Karan', Salary=40000),
 Row(UniqueID='M004', Name='Froos', Salary=20000),
 Row(UniqueID='M005', Name='Qiraat', Salary=35000),
 Row(UniqueID='M006', Name='Navid', Salary=40000),
 Row(UniqueID='M007', Name='Egnadgy', Salary=70000)]

In [0]:
df2.take(2)

Out[20]: [Row(UniqueID='M001', Name='Ramesh', Salary=20000),
 Row(UniqueID='M002', Name='Riyaz', Salary=35000)]

In [0]:
df.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: long (nullable = true)

In [0]:
df2.withColumn('bonus',df2.Salary*0.02).show()

+--------+-------+------+------+
|UniqueID|   Name|Salary| bonus|
+--------+-------+------+------+
|    M001| Ramesh| 20000| 400.0|
|    M002|  Riyaz| 35000| 700.0|
|    M003|  Karan| 40000| 800.0|
|    M004|  Froos| 20000| 400.0|
|    M005| Qiraat| 35000| 700.0|
|    M006|  Navid| 40000| 800.0|
|    M007|Egnadgy| 70000|1400.0|
+--------+-------+------+------+

In [0]:
df2.withColumn('AfterESR',df2.Salary+df2.Salary*0.02).show()

+--------+-------+------+--------+
|UniqueID|   Name|Salary|AfterESR|
+--------+-------+------+--------+
|    M001| Ramesh| 20000| 20400.0|
|    M002|  Riyaz| 35000| 35700.0|
|    M003|  Karan| 40000| 40800.0|
|    M004|  Froos| 20000| 20400.0|
|    M005| Qiraat| 35000| 35700.0|
|    M006|  Navid| 40000| 40800.0|
|    M007|Egnadgy| 70000| 71400.0|
+--------+-------+------+--------+

In [0]:
df2.filter(df2.Salary>30000).show()

+--------+-------+------+
|UniqueID|   Name|Salary|
+--------+-------+------+
|    M002|  Riyaz| 35000|
|    M003|  Karan| 40000|
|    M005| Qiraat| 35000|
|    M006|  Navid| 40000|
|    M007|Egnadgy| 70000|
+--------+-------+------+

In [0]:
df2.sort(df2.Salary.desc()).show()

+--------+-------+------+
|UniqueID|   Name|Salary|
+--------+-------+------+
|    M007|Egnadgy| 70000|
|    M003|  Karan| 40000|
|    M006|  Navid| 40000|
|    M002|  Riyaz| 35000|
|    M005| Qiraat| 35000|
|    M001| Ramesh| 20000|
|    M004|  Froos| 20000|
+--------+-------+------+

In [0]:
df3 = spark.read.format('csv').option('header','true').option('inferSchema', 'true').load("/FileStore/tables/Pyspark.csv")

display(df3)
#'Experience' should have been 'Gender' 😇😊

first_name,last_name,Age,Experience,Salary
Ade,Obi,34,M,20000
Ada,null,35,M,35000
Jon,Cray,20,F,40000
Ife,null,21,null,20000
Tamuno,Obudo,26,F,35000
Agbo,null,22,F,40000
Ajoke,Yam,21,F,70000
Temi,Pep,null,null,45000
null,null,30,M,40000
null,Tag,44,null,null

In [0]:
df3.select('first_name','Experience','Salary').show()

+----------+----------+------+
|first_name|Experience|Salary|
+----------+----------+------+
|       Ade|         M| 20000|
|       Ada|         M| 35000|
|       Jon|         F| 40000|
|       Ife|      null| 20000|
|    Tamuno|         F| 35000|
|      Agbo|         F| 40000|
|     Ajoke|         F| 70000|
|      Temi|      null| 45000|
|      null|         M| 40000|
|      null|      null|  null|
+----------+----------+------+

In [0]:
df3.groupBy('Experience').sum('Salary').show()

+----------+-----------+
|Experience|sum(Salary)|
+----------+-----------+
|         F|     185000|
|      null|      65000|
|         M|      95000|
+----------+-----------+

In [0]:
df3.groupBy('Experience').count().show()

+----------+-----+
|Experience|count|
+----------+-----+
|         F|    4|
|      null|    3|
|         M|    3|
+----------+-----+

In [0]:
#same with max, average
df3.groupBy('Experience').min('Salary').show()

+----------+-----------+
|Experience|min(Salary)|
+----------+-----------+
|         F|      35000|
|      null|      20000|
|         M|      20000|
+----------+-----------+

In [0]:
dp= spark.read.format('csv').option('header','true').option('inferSchema', 'true').load("dbfs:/FileStore/tables/Departmenttable.csv")

em= spark.read.format('csv').option('header','true').option('inferSchema', 'true').load("dbfs:/FileStore/tables/Employeetable.csv")
display(dp)
display(em)

UniqueID,Department
A001,Sales
A002,CTO
A003,Ops
A004,Sales
A005,CTO
A006,Ops
A007,Finance
A008,Finance
A009,Sales
A010,CTO
A011,Ops

UniqueID,Name,Salary,Region,NewSalary
A001,Ade,20000,Nigeria,null
A002,Ada,35000,Nigeria,null
A003,Jon,40000,UK,null
A004,Jane,20000,USA,null
A005,James,35000,UK,null
A006,Agbo,40000,USA,null
A007,Awa,70000,UAE,null
A008,Tamuno,10000,Belgium,null
A009,Agbo,35000,Nigeria,null
A010,Taiwo,40000,Belgium,null
A011,Adam,10000,UAE,null

In [0]:
em.join(dp, em.UniqueID==dp.UniqueID,'inner').show()

+--------+------+------+-------+---------+--------+----------+
|UniqueID|  Name|Salary| Region|NewSalary|UniqueID|Department|
+--------+------+------+-------+---------+--------+----------+
|    A001|   Ade| 20000|Nigeria|     null|    A001|     Sales|
|    A002|   Ada| 35000|Nigeria|     null|    A002|       CTO|
|    A003|   Jon| 40000|     UK|     null|    A003|       Ops|
|    A004|  Jane| 20000|    USA|     null|    A004|     Sales|
|    A005| James| 35000|     UK|     null|    A005|       CTO|
|    A006|  Agbo| 40000|    USA|     null|    A006|       Ops|
|    A007|   Awa| 70000|    UAE|     null|    A007|   Finance|
|    A008|Tamuno| 10000|Belgium|     null|    A008|   Finance|
|    A009|  Agbo| 35000|Nigeria|     null|    A009|     Sales|
|    A010| Taiwo| 40000|Belgium|     null|    A010|       CTO|
|    A011|  Adam| 10000|    UAE|     null|    A011|       Ops|
+--------+------+------+-------+---------+--------+----------+

In [0]:
em.join(dp, em.UniqueID==dp.UniqueID,'left').show()

+--------+------+------+-------+---------+--------+----------+
|UniqueID|  Name|Salary| Region|NewSalary|UniqueID|Department|
+--------+------+------+-------+---------+--------+----------+
|    A001|   Ade| 20000|Nigeria|     null|    A001|     Sales|
|    A002|   Ada| 35000|Nigeria|     null|    A002|       CTO|
|    A003|   Jon| 40000|     UK|     null|    A003|       Ops|
|    A004|  Jane| 20000|    USA|     null|    A004|     Sales|
|    A005| James| 35000|     UK|     null|    A005|       CTO|
|    A006|  Agbo| 40000|    USA|     null|    A006|       Ops|
|    A007|   Awa| 70000|    UAE|     null|    A007|   Finance|
|    A008|Tamuno| 10000|Belgium|     null|    A008|   Finance|
|    A009|  Agbo| 35000|Nigeria|     null|    A009|     Sales|
|    A010| Taiwo| 40000|Belgium|     null|    A010|       CTO|
|    A011|  Adam| 10000|    UAE|     null|    A011|       Ops|
+--------+------+------+-------+---------+--------+----------+

In [0]:
em.union(df3).show()
#Union and Union all work same without removing duplicate (opposite in sql)

+--------+------+------+-------+---------+
|UniqueID|  Name|Salary| Region|NewSalary|
+--------+------+------+-------+---------+
|    A001|   Ade| 20000|Nigeria|     null|
|    A002|   Ada| 35000|Nigeria|     null|
|    A003|   Jon| 40000|     UK|     null|
|    A004|  Jane| 20000|    USA|     null|
|    A005| James| 35000|     UK|     null|
|    A006|  Agbo| 40000|    USA|     null|
|    A007|   Awa| 70000|    UAE|     null|
|    A008|Tamuno| 10000|Belgium|     null|
|    A009|  Agbo| 35000|Nigeria|     null|
|    A010| Taiwo| 40000|Belgium|     null|
|    A011|  Adam| 10000|    UAE|     null|
|     Ade|   Obi|    34|      M|    20000|
|     Ada|  null|    35|      M|    35000|
|     Jon|  Cray|    20|      F|    40000|
|     Ife|  null|    21|   null|    20000|
|  Tamuno| Obudo|    26|      F|    35000|
|    Agbo|  null|    22|      F|    40000|
|   Ajoke|   Yam|    21|      F|    70000|
|    Temi|   Pep|  null|   null|    45000|
|    null|  null|    30|      M|    40000|
+--------+------+------+-------+---------+
only showing top 20 rows